*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: heading;
    src: url(/font/Better\ Yesterday.otf);
}
body{
    box-sizing: border-box;
    
    
    
}
header{
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3px;
    
    font-family: Arial, Helvetica, sans-serif;
} 

.container{
    background-image: url('/images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}


.container table{
    border: 1px solid ;
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 40px;
    width: 100%;
    cursor: pointer;
    
    
}

.container th,td{
    border: 1px solid rgb(218, 124, 2);
    padding: 10px;
    
}



.container td:hover{
    background-color: rgb(255, 187, 0);
}

.container tr:hover{
    opacity: 1;
}
.wrapper{
    
    background: url('/images/back2.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 155px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    
}

.wrapper .table_2{
    border-collapse: collapse;
    
    width: 100%;
    
}
.wrapper td,th,tr{
    border: 1px solid ;
}
.reg{
    font-family: heading;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: underline;
    letter-spacing: 10px;
}

.icon{
    position: relative;
    right: 700px;
    bottom: 70px;
    font-size: 2em;
}
i{
    font-size: 2em;
}

.button{
    position: relative;
    left: 700px;
    padding: 8px;
    background-color: aqua;
    border: 1px solid yellow;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
}
.button:hover{
    
    background-color: gold;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #799be6 inset,
                0 0 10px 4px gold;
    border-radius: 10px; 
}
button{
    position: relative;
    left: 700px;
    padding: 12px;
    width: 190px;
    cursor: pointer;
    background: #799be6;
    color: white;
    transition: .5s ease;
    border-radius: 10px;
    text-transform: capitalize;
}

button:hover{
    background: transparent;
    border: 2px solid#799be6;
    box-shadow: 0 0 10px 0 #799be6 inset,
                0 0 10px 4px #799be6;
    border-radius: 10px;            
}

.footer{
    background-color: #24262b;
    padding: 70px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
ul{
    list-style: none;
    
}
a:link{
    text-decoration: none;
    color: black;
}
a{
    color: rgb(185, 185, 185);
}
.contain{
    max-width: 1170px;
    background-color: rgb(119, 118, 118);
    margin: auto;
}